# Task 1 :

### Email spam detection using machine learning

In [115]:
#load dataset 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import svm

df=pd.read_csv('C:/Users/HP/Downloads/spam.csv',encoding='latin-1')
df.head()

,ï»¿v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [116]:
#drop unnecessary columns
df=df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [117]:
df.head()

  ï»¿v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [118]:
#rename columns
df.columns=['Labels','Data']

In [119]:
df.head()

  Labels                                               Data
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [120]:
#binary labels

df['bl']= df['Labels'].map({'ham':0,'spam':1})
y=df['bl'].values

In [121]:
print(y)

[0 0 1 ... 0 0 0]

In [122]:
df.head()

  Labels                                               Data  bl
0    ham  Go until jurong point, crazy.. Available only ...   0
1    ham                      Ok lar... Joking wif u oni...   0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...   1
3    ham  U dun say so early hor... U c already then say...   0
4    ham  Nah I don't think he goes to usf, he lives aro...   0

In [126]:
x_train, x_test, ytrain, ytest = train_test_split(df['Data'], y, test_size=0.33)

In [127]:
df.head()

  Labels                                               Data  bl
0    ham  Go until jurong point, crazy.. Available only ...   0
1    ham                      Ok lar... Joking wif u oni...   0
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...   1
3    ham  U dun say so early hor... U c already then say...   0
4    ham  Nah I don't think he goes to usf, he lives aro...   0

In [128]:
vectorizer= CountVectorizer(max_features=5000)

In [129]:
x_train_vectorized=vectorizer.fit_transform(x_train.values)

In [131]:
model= MultinomialNB()

In [133]:
model.fit(x_train_vectorized,ytrain)

MultinomialNB()

In [135]:
y_pred=model.predict(x_train_vectorized)

In [136]:
accuracy=accuracy_score(ytrain,y_pred)
print("The model accuracy is: {}".format(accuracy))

The model accuracy is: 0.9930350924189659